.app__service {
  margin-top: 100px;
  padding: 100px;
}

.app__service__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 50px 100px;
  background: var(--bg-linear-gr);
  font-family: var(--font-family);
  border-radius: 20px;
}

.app__service__content-info {
  flex: 1;
  flex-direction: column;
}
.app__service__content-info h1 {
  text-decoration: underline;
  text-underline-offset: 20px;
  font-weight: 600;
  font-size: 48px;
  line-height: 140%;
  color: #ffffff;
}

.app__service__content-info p {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
}

.app__service__content-start {
  flex: 1;
  text-align: end;
}

.app__service__content-start button {
  font-family: var(--font-family);
  cursor: pointer;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 20px;
  padding: 20px 40px;
  background: var(--bg-gradient);
  border: none;
  color: #00040e;
}

@media screen and (max-width: 1110px) {
  .app__service__content-info {
    text-align: center;
    flex: auto;
  }
  .app__service__content-start {
    text-align: center;
  }
}

@media screen and (max-width: 880px) {
  .app__service__content {
    padding: 25px 75px;
  }
}

@media screen and (max-width: 700px) {
  .app__service {
    padding: 50px;
  }
}

@media screen and (max-width: 500px) {
  .app__service {
    padding: 20px;
  }
}
